@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Manrope', sans-serif;
   font-optical-sizing: auto;
}

section {
   @apply flex items-center justify-center md:min-h-screen;
}

.container {
   @apply mx-auto px-6 md:px-12;
}

h1 {
   font-size: 3.5rem;
   line-height: 4.46rem;
   font-family: 'Bricolage Grotesque', sans-serif;
}
