@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Manrope', sans-serif;
   font-optical-sizing: auto;
   @apply bg-s-100;
}

section {
   @apply flex items-center justify-center py-10 md:min-h-screen;
}

.container {
   @apply mx-auto px-4 sm:px-6;
   z-index: 1;
}

h1,
.h1 {
   font-size: 3.5rem;
   line-height: 4.46rem;
   font-family: 'Bricolage Grotesque', sans-serif;
}

h2 {
   font-size: 2.5rem;
   line-height: 2.87rem;
   font-family: 'Bricolage Grotesque', sans-serif;
   @apply text-s-800;
}

h3,
.h3 {
   font-size: 2rem;
   line-height: 2.4rem;
   font-family: 'Bricolage Grotesque', sans-serif;
   font-weight: 500;
   @apply text-s-800;
}

.h3 {
   font-family: 'Bricolage Grotesque', sans-serif;
   font-weight: 700;
}

h4 {
   font-size: 1.5rem;
   line-height: 1.8rem;
   font-family: 'Bricolage Grotesque', sans-serif;
   font-weight: 500;
   @apply text-s-800;
}

@media screen and (max-width: 768px) {
   h1,
   .h1 {
      font-size: 2.25rem;
      line-height: 2.8rem;
   }

   h2 {
      font-size: 1.5rem;
      line-height: 1.8rem;
   }

   h3,
   .h3 {
      font-size: 1.25rem;
      line-height: 1.6rem;
   }
   h4 {
      font-size: 1rem;
      line-height: 1.2rem;
   }
}

h1,
h2 {
   span {
      @apply font-bold text-blue-4;
   }
}

span.caret {
   border-right: 0.1em solid;
   animation: caret 1s steps(1) infinite;
}

.slick-list {
   ul {
      li {
         width: 10px;
         height: 2px;
         background: #848484;
      }
   }
}

.slick-dots {
   bottom: -60px !important;
   li {
      width: 30px !important;
      height: 6px !important;
      background: #848484;
      button {
         &::before {
            display: none;
         }
      }

      &.slick-active {
         background: #ffffff;
      }
   }
}

.tile-white {
   @apply bg-s-100;
   animation: alternate 1s infinite;
}

.tile-gray {
   @apply bg-white;
   animation: alternate 1s infinite;
}

.dropdown-menu {
   ul {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
   }

   &:hover {
      ul {
         opacity: 1;
         visibility: visible;
      }
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes caret {
   50% {
      border-color: transparent;
   }
}
