@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Manrope', sans-serif;
   font-optical-sizing: auto;
   @apply bg-s-100;
}

section {
   @apply flex items-center justify-center py-10 md:min-h-screen;
}

.container {
   @apply mx-auto px-6 md:px-12;
   z-index: 1;
}

h1 {
   font-size: 3.5rem;
   line-height: 4.46rem;
   font-family: 'Bricolage Grotesque', sans-serif;
}

h2 {
   font-size: 2.5rem;
   line-height: 2.87rem;
   font-family: 'Bricolage Grotesque', sans-serif;
   @apply text-s-800;
}

h3 {
   font-size: 2rem;
   line-height: 2.4rem;
   font-family: 'Bricolage Grotesque', sans-serif;
   font-weight: 500;
   @apply text-s-800;
}

h1,
h2 {
   span {
      @apply font-bold text-blue-4;
   }
}

span.caret {
   border-right: 0.1em solid;
   animation: caret 1s steps(1) infinite;
}

.slick-list {
   ul {
      li {
         width: 10px;
         height: 2px;
         background: #848484;
      }
   }
}
.slick-dots {
   bottom: -60px !important;
   li {
      width: 30px !important;
      height: 6px !important;
      background: #848484;
      button {
         &::before {
            display: none;
         }
      }

      &.slick-active {
         background: #ffffff;
      }
   }
}

@keyframes caret {
   50% {
      border-color: transparent;
   }
}
